.u-section-1 .u-sheet-1 {
  min-height: 827px;
}

.u-section-1 .u-image-1 {
  width: 66px;
  height: 53px;
  animation-duration: 1000ms;
  margin: 50px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  width: 163px;
  margin: 38px auto 0;
}

.u-section-1 .u-form-1 {
  height: 295px;
  width: 600px;
  margin: 38px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 10px 30px 10px 29px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}